/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

/* =========================
   DASHBOARD PAGE
========================= */

.dashboard-page {
    display: flex;

    min-height: 100vh;
}

/* =========================
   CONTENT
========================= */

.dashboard-content {
    flex: 1;

    margin-left: 250px;

    padding: 0 40px 20px 40px;
}

/* =========================
   BODY
========================= */

.dashboard-body {
    display: flex;
    flex-direction: column;

    gap: 30px;

    margin-top: 34px;
    
    padding-top: 10px;
}

/* =========================
   CARDS
========================= */

.dashboard-cards {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.dashboard-card {
    padding: 28px;

    border-radius: 24px;

    color: white;
}

.dashboard-card h3 {
    font-size: 15px;
    font-weight: 500;

    margin-bottom: 16px;
}

.dashboard-card p {
    font-size: 32px;
    font-weight: 700;
}

/* COLORS */

.purple {
    background-color: #8576ff;
}

.orange {
    background-color: #ff9f6d;
}

.blue {
    background-color: #6db6ff;
}

/* =========================
   TABLE
========================= */

.recent-order {
    background-color: white;

    padding: 28px;

    border-radius: 24px;
}

.recent-order h2 {
    font-size: 22px;
    font-weight: 600;

    margin-bottom: 20px;
}

/* TABLE */

table {
    width: 100%;

    border-collapse: collapse;
}

thead {
    background-color: #f3f3f3;
}

th {
    text-align: left;

    padding: 16px;

    font-size: 14px;
    font-weight: 600;
}

td {
    padding: 16px;

    font-size: 14px;

    border-bottom: 1px solid #eeeeee;
}